body {
  background: #555;
}

.content {
  max-width: 500px;
  margin: auto;
  background: powderblue;
  padding: 10px;
}

h2{
      color:hotpink;
}
h3{
      color:Purple;
      Font-style: bold;
}
#intro{
  color:Purple;
  font-family:Cursive;
}
#school{
  color:hotpink;
}
#tech{
  color:Purple;
}
span{
  color:pink;
  font-size:50pt;
  font-family:Cursive;
}
